@import"../../styles.scss";

.skill-set {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
    background-color: $sidebar;
    width: 500px;
    height: 100vh;
    padding: 1rem;
    color: white;
    &__image{
        align-self: center;
    }

    &__title {
        align-self: center;
    }
}

.skill-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    gap: .5rem;
    position: relative;

    &__btn {
        padding: .5rem;
        border: none;
        cursor: pointer;
        margin-right: 8px;
        border-radius: 5px;
        background-color: $color2;

        &:hover {
            background-color: $color1;
        }
    }
}

