@import"../../styles.scss";

.skill-set {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $sidebar;
    height: 100%;
    padding: 2rem;
    color: white;
}

.skill-information{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    flex-direction: column;
    &__image{
        width: 340px;
        object-fit: cover;
    }
    &__add-skill{
        border: none;
        border-radius: 50px;
        cursor: pointer;
        width: 140px;
        height: 32px;
        background-color: $color2;
        font-family: $principal-font;
        font-weight: 500;
    }
}

.skill-form{
    display: flex;
    &__input-name{
        border-radius: 50px;
        font-family: $principal-font;
        text-align: center;
        border: none;
    }
}

.skill-list {
    display: flex;
    padding: 0 1rem;
    gap: .5rem;
    position: relative;

    &__btn {
        padding: .5rem;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        background-color: $color2;

        &:hover {
            background-color: $color1;
        }
    }
}

.tech-skills-form {
  width: 100%;
  gap: 10px;

  @include flex(flex-start, flex-start, column);

 &__controls {
  gap: 15px;

  @include flex(flex-start, center, row);

  .skill-label {
    font-size: 16px;
  }

  .delete-skill {
    font-size: 10px;
    cursor: pointer;
  }
 }
}
