<nav class="navbar">
    <ul class="navbar-list">
        <li (click)="switchChart('all')"><a class="navbar-list__link">All</a></li>
        <li (click)="switchChart('bar')"><a class="navbar-list__link">Bar</a></li>
        <li (click)="switchChart('pie')"><a class="navbar-list__link">Pie</a></li>
    </ul>
    <div [ngSwitch]="chartOption">
        <app-chart-section *ngSwitchCase="'all'"></app-chart-section>
        <app-bar-chart *ngSwitchCase="'bar'"></app-bar-chart>
        <app-pie-chart *ngSwitchCase="'pie'"></app-pie-chart>
    </div>
</nav>